@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "StereoGothic";
  font-display: swap;
  src: url("../fonts/StereoGothic.woff") format("woff"), url("../fonts/StereoGothic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 0.732vmax;
}

body {
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 68vmax;
  margin: 0 auto;
}

._text-anim {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translate(-50px, 0);
      -ms-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  opacity: 0;
}

._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

._text-anim + ._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.3s;
  -o-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim-one {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
  opacity: 0;
}

._text-anim-one._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.header {
  position: relative;
}

.header__content {
  padding: 2.5rem 0px 20rem 0px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 16rem 0px;
}

.header__logo svg {
  width: 3vmax;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 100;
}

.header__bottom {
  text-align: right;
}

.header__title {
  font-size: 3.5rem;
  line-height: 1.5;
  margin: 0px 0px 0.9em 0px;
}

.header__text {
  display: inline-block;
  max-width: 15.5em;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 0px 0px 3.75em 0px;
}

.header__bg {
  top: 0;
}

.nav-header__item {
  color: #fff;
  font-size: 1.3rem;
  margin: 0px 3.84em 0px 0px;
}

.nav-header__item-inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header__item-inst img {
  margin: 0px 1rem 0px 0px;
  width: 1vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rev {
  position: relative;
}

.rev__content {
  padding: 0px 0px 14vmax 0px;
}

.rev__circle {
  position: absolute;
  right: -14vmax;
  top: 14vmax;
  -webkit-animation: 15s linear 0s normal none infinite running rot;
          animation: 15s linear 0s normal none infinite running rot;
}

.rev__circle img {
  width: 32vmax;
}

.rev__title {
  font-size: 3.5rem;
  line-height: 1.3;
  max-width: 42vmax;
  color: #162438;
  position: relative;
  margin: 0px 0px 3em 0px;
}

.rev__title::after {
  content: "";
  position: absolute;
  bottom: -30%;
  left: -25rem;
  background: #2a3b3f;
  width: 56rem;
  height: 0.3rem;
}

.rev__slider {
  padding: 0px 0 5rem;
  width: 40vmax;
  position: relative;
}

.rev__slider-item {
  padding: 0px 100px;
}

.rev__slider-prev {
  top: 50% !important;
  bottom: auto !important;
  -webkit-transform: translate(0%, -50%) !important;
      -ms-transform: translate(0%, -50%) !important;
          transform: translate(0%, -50%) !important;
  color: #fff !important;
  left: -10rem !important;
  background: #2a4561;
  padding: 4rem 4rem;
}

.rev__slider-next {
  top: 50% !important;
  bottom: auto !important;
  -webkit-transform: translate(0%, -50%) !important;
      -ms-transform: translate(0%, -50%) !important;
          transform: translate(0%, -50%) !important;
  right: -10rem !important;
  color: #fff !important;
  background: #2a4561;
  padding: 4rem 4rem;
}

.swiper-slide__text {
  background: #c95911;
  padding: 2.6rem;
  font-size: 2rem;
  width: 50rem;
  line-height: 1.3;
}

.swiper-slide__text a {
  display: block;
  font-size: 2.8rem;
  margin: 0px 0px 1rem;
  color: #fff;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  max-width: 40rem;
  border: 2px solid #c95911;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.qus {
  position: relative;
}

.qus__content {
  position: relative;
  padding: 0px 0px 5rem 0px;
}

.qus__title {
  text-align: right;
  font-size: 3.5rem;
  position: relative;
  margin: 0px 0px 2em 0px;
}

.qus__title::before {
  content: "";
  position: absolute;
  left: -16vmax;
  bottom: 20%;
  background-color: #fff;
  width: 61vmax;
  height: 0.3vmax;
}

.qus__inner {
  margin: 0px 0px 5.5vmax 0px;
}

.qus__inner-hide {
  display: none;
}

.qus__inner-hide .inner-item__item .inner-item__num {
  color: #2a4561;
}

.qus__inner-hide.active {
  display: block;
}

.qus__bg {
  top: -35vmax;
}

.qus__btn {
  text-align: center;
  cursor: pointer;
}

.qus__btn.hide {
  display: none;
}

.inner-item__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 3.4rem 0px;
  text-align: center;
}

.inner-item__item:last-child {
  margin: 0px 0px 0px 0px;
}

.inner-item__plus {
  background-color: #2a4561;
  height: 100%;
  padding: 1em 1em;
  width: 10rem;
  width: 5.2vmax;
  height: 5.2vmax;
  position: relative;
  cursor: pointer;
}

.inner-item__plus:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.3vmax;
  height: 0.3vmax;
  background: #fff;
}

.inner-item__plus::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2.3vmax;
  width: 0.3vmax;
  background: #fff;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.inner-item__plus.active:before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.inner-item__text {
  font-size: 2.4rem;
  line-height: 1.1;
  background-color: #2a4561;
  padding: 1em 1em;
  min-height: 5.2vmax;
  width: 80%;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.inner-item__text.active .inner-item__text-hide {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.inner-item__text-hide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  margin: 1em 0px 0px 0px;
}

.inner-item__num {
  font-size: 3rem;
  font-family: StereoGothic;
}

.footer__content {
  position: relative;
  padding: 0px 0px 20rem 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-family: StereoGothic;
}

.btn {
  display: inline-block;
  font-family: StereoGothic;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fff;
  background: #c95911;
  padding: 1.5em 1.2em;
}

.bg {
  position: absolute;
  z-index: -10;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.bg img {
  width: 100vmax;
}

.course__content {
  padding: 0px 0px 8.3rem 0px;
}

.course__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #162438;
  margin: 0px auto 6.5rem;
  font-size: 3.5rem;
  max-width: 53vmax;
}

.course__title span {
  position: relative;
  padding: 0px 2em;
  background: #fff;
  z-index: 10;
}

.course__title::after {
  content: "";
  position: absolute;
  bottom: 17%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background: #000;
  width: 100%;
  height: 3px;
}

.course__inner {
  margin: 0px auto;
}

.course__more {
  overflow-anchor: none;
}

.course__more.hide {
  display: none;
}

.inner-course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 66vmax;
}

.inner-course__dop {
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.inner-course__dop.active {
  opacity: 1;
  position: relative;
  top: auto;
}

.inner-course__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 0 11rem;
}

.inner-course__item img {
  width: 42vmax;
}

.inner-course__item:nth-child(even) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.inner-course__item:nth-child(even) .inner-course__text {
  background-color: #2a4561;
  right: 0;
  left: auto;
}

.inner-course__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0%;
  background-color: #c95911;
  font-size: 1.6rem;
  line-height: 1.3;
  padding: 2em;
  max-width: 30vmax;
}

.inner-course__title {
  font-family: StereoGothic;
  font-size: 2rem;
  margin: 0px 0px 2rem 0px;
}

.inner-course__par {
  margin: 0px 0px 1.8rem 0px;
}

.program {
  position: relative;
}

.program__content {
  padding: 0px 0px 9.5rem 0px;
}

.program__title {
  font-size: 3.5rem;
  text-align: right;
  margin: 0px 0px 2em 0px;
}

.program__btn {
  text-align: center;
}

.program__btn a {
  font-size: 1.6rem;
  background-color: #2a4561;
}

.program__bg {
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.inner-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.inner-program__item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  position: relative;
  background-color: #c95911;
  padding: 4rem;
  margin: 0px 0px 7.7rem 0px;
}

.inner-program__item::after {
  content: "";
  background: #2a4561;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -1.7rem;
  top: -1.7rem;
  z-index: -1;
}

.inner-program__item-1::before {
  content: "";
  position: absolute;
  right: -11.7rem;
  top: 7rem;
  background: #fff;
  width: 10rem;
  height: 0.7rem;
}

.inner-program__item-2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6rem;
  background: #fff;
  width: 0.7rem;
  height: 6rem;
  z-index: -1;
}

.inner-program__item-3 {
  top: -17rem;
}

.inner-program__item-3::before {
  content: "";
  position: absolute;
  left: -8.3rem;
  bottom: 7rem;
  background: #fff;
  width: 8.3rem;
  height: 0.7rem;
  z-index: -2;
}

.inner-program__item-4::before {
  content: "";
  position: absolute;
  right: -11.7rem;
  bottom: 4rem;
  background: #fff;
  width: 10rem;
  height: 0.7rem;
}

.inner-program__item-5 {
  top: -17rem;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.inner-program__item-5::before {
  content: "";
  position: absolute;
  left: -5rem;
  bottom: -8rem;
  width: 13rem;
  height: 11rem;
  border: 0.7rem solid #fff;
  border-width: 0 0.7rem 0.7rem 0;
  z-index: -2;
}

.inner-program__title {
  font-family: StereoGothic;
  font-size: 1.9rem;
  line-height: 1.3;
  margin: 0px 0px 1em 0px;
  max-width: 20vmax;
}

.inner-program__text {
  font-size: 1.5rem;
  line-height: 1.3;
}

.inner-program__par {
  margin: 0px 0px 1.2em 0px;
}

.inner-program__num {
  position: absolute;
  right: -5%;
  top: -4rem;
  font-family: StereoGothic;
  font-size: 5.5rem;
}

.team__content {
  padding: 0px 0px 26rem 0px;
}

.team__title {
  text-align: right;
  font-size: 3.5rem;
  color: #162438;
  position: relative;
  margin: 0px 0px 3em 0px;
}

.team__title::after {
  content: "";
  position: absolute;
  right: -16rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 16rem;
  height: 0.3rem;
  background: #162438;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-team__item {
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  text-align: center;
  margin: 0px 0px 13.9vmax 0px;
}

.inner-team__item img {
  width: 28vmax;
  height: 26vmax;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner-team__text {
  position: absolute;
  left: 50%;
  bottom: -30%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 1.5em 2em;
  font-size: 1.5rem;
  line-height: 1.3;
  width: 110%;
  background-color: #c95911;
}

.inner-team__title {
  text-align: center;
  font-family: StereoGothic;
  font-size: 1.8rem;
  margin: 0px 0px 0.5em 0px;
}

.tarif__content {
  position: relative;
  padding: 0px 0px 30rem 0px;
}

.tarif__title {
  font-size: 3.5rem;
  margin: 0px 0px 1.4em 0px;
  position: relative;
}

.tarif__title::after {
  content: "";
  position: absolute;
  left: -22rem;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-color: #fff;
  width: 20rem;
  height: 0.3rem;
}

.tarif__bg {
  top: -10%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.tarif__bg img {
  max-height: 280rem;
}

.wrap-tarif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 5rem 0px;
  position: relative;
  margin: 0px 0px 6rem 0px;
}

.wrap-tarif::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  background: #fff;
  width: 100vmax;
  height: 0.2rem;
}

.wrap-tarif:last-child::before {
  display: none;
}

.wrap-tarif__title {
  text-transform: uppercase;
  width: 31vmax;
  background: #2a4561;
  font-size: 2.3rem;
  line-height: 1.3;
  padding: 1em 0.7em;
  margin: 0px 0px 1.5em 0px;
}

.wrap-tarif__date {
  display: inline-block;
  font-size: 2rem;
  font-family: StereoGothic;
  padding: 1em 2em;
  border: 0.2em solid #fff;
  margin: 0px 0px 2em 0px;
}

.wrap-tarif__text {
  font-size: 2.3rem;
  line-height: 1.3;
  width: 39vmax;
  margin: 0px 0px 2em 0px;
}

.wrap-tarif__por {
  margin: 0px 0px 1em 0px;
}

.wrap-tarif__por span {
  font-size: 3rem;
  display: block;
}

.wrap-tarif__por-up {
  text-transform: uppercase;
}

.wrap-tarif__por:last-child {
  margin: 0px 0px 0px 0px;
}

.wrap-tarif__price span {
  font-size: 3rem;
  font-weight: 700;
}

.wrap-tarif__btn a {
  font-size: 1.8rem;
}

.wrap-tarif__img img {
  width: 25vmax;
  border: 0.5rem solid #c95911;
}

.wrap-tarif:nth-child(even) {
  text-align: right;
}

.wrap-tarif:nth-child(even) .wrap-tarif__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrap-tarif:nth-child(even) .wrap-tarif__img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.wrap-tarif:nth-child(even) .wrap-tarif__btn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@media (max-width: 991.98px) {
  ._text-anim {
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }

  ._text-anim-one {
    -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }

  .header__content {
    padding: 2.5rem 0px 25rem 0px;
  }

  .header__top {
    margin: 0px 0px 10rem 0px;
  }

  .header__bottom {
    text-align: center;
  }

  .header__title {
    font-size: 4.5rem;
    line-height: 1.3;
    margin: 0px 0px 0.7em 0px;
  }

  .header__text {
    max-width: 25.5em;
    font-size: 2.6rem;
    margin: 0px 0px 2.75em 0px;
  }

  .nav-header__item {
    font-size: 1.5rem;
  }

  .rev__slider-prev {
    top: 120% !important;
    left: 10rem !important;
    padding: 6rem 6rem;
  }

  .rev__slider-next {
    top: 120% !important;
    right: 10rem !important;
    padding: 6rem 6rem;
  }

  .course__more {
    text-align: center;
  }

  .inner-course__text {
    font-size: 1.8rem;
    max-width: 35vmax;
  }
}

@media (max-width: 767.98px) {
  .header__content {
    padding: 2.5rem 5rem 20rem;
  }

  .header__top {
    margin: 0px 0px 4rem 0px;
  }

  .header__title {
    font-size: 4rem;
  }

  .header__text {
    font-size: 3rem;
    max-width: 100%;
  }

  .nav-header__item {
    color: #010101;
    margin: 0px 0px 1.84em 0px;
    font-size: 20px;
  }

  .nav-header__item-inst img {
    -webkit-filter: invert(100%);
            filter: invert(100%);
    width: 2.4vmax;
  }

  .nav-header__item-inst {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  main.lock {
    opacity: 0.6;
  }

  .header__burger {
    display: block;
    position: absolute !important;
    width: 7rem;
    height: 4rem;
    right: 110%;
    top: 29px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5rem;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 0.5rem;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
  }

  .header__nav {
    position: fixed;
    top: 0%;
    right: -50%;
    width: 50%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 10rem 3rem 5rem;
    z-index: 21;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bg-mob {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: -14px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: -14px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .bg-mob.active {
    opacity: 1;
    visibility: visible;
  }

  .header__nav.active {
    right: 0;
  }

  .rev__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .rev__circle {
    top: -7vmax;
    right: -9vmax;
  }

  .rev__circle img {
    width: 20vmax;
  }

  .rev__title {
    font-size: 18px;
  }

  .rev__slider-prev {
    top: 110% !important;
  }

  .rev__slider-next {
    top: 110% !important;
  }

  .swiper-slide {
    font-size: 14px;
  }

  .qus__title::before {
    width: 21vmax;
    left: -0vmax;
  }

  .qus__title {
    font-size: 20px;
  }

  .qus__bg {
    top: -52vmax;
  }

  .qus__bg img {
    width: 1600px;
  }

  .inner-item__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 40px 0px;
  }

  .inner-item__plus {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 1rem 0px 0px 0px;
  }

  .inner-item__text {
    font-size: 20px;
    width: 90%;
  }

  .inner-item__text-hide {
    font-size: 18px;
  }

  .inner-item__num {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0px 0px 0.5em 0px;
    font-size: 25px;
  }

  .btn {
    width: 80%;
    font-size: 1.8rem;
  }

  .course__content {
    padding: 0px 0px 20.3rem 0px;
  }

  .inner-course__item:nth-child(even) .inner-course__text {
    right: auto;
    left: 50%;
  }

  .inner-course__item:nth-child(even) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .inner-course__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0 260px;
  }

  .inner-course__text {
    left: 50%;
    right: auto;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: auto;
    bottom: -30vmax;
    width: 100%;
    max-width: 90%;
    font-size: 14px;
    padding: 1em;
  }

  .inner-course__title {
    font-size: 14px;
  }

  .program__content {
    padding: 0px 0px 19.5rem 0px;
  }

  .program__title {
    text-align: center;
  }

  .program__bg img {
    width: auto;
    height: 2450px;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }

  .inner-program__item-3 {
    top: auto;
  }

  .inner-program__item-5 {
    top: auto;
  }

  .inner-program__item::before {
    content: "";
    position: absolute;
    left: 50%;
    right: auto;
    top: auto;
    bottom: -6rem;
    background: #fff;
    width: 0.7rem;
    height: 6rem;
    z-index: -2;
  }

  .inner-program__title {
    font-size: 14px;
  }

  .inner-program__text {
    font-size: 14px;
  }

  .inner-program {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 5rem;
  }

  .inner-program-m {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .team__title {
    text-align: center;
    font-size: 4rem;
  }

  .team__title::after {
    content: "";
    position: absolute;
    right: auto;
    left: 50%;
    top: auto;
    bottom: -12rem;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 7rem;
    background: #162438;
  }

  .team__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .inner-team__item img {
    width: 90%;
    height: auto;
  }

  .inner-team__item {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin: 0px 0px 150px 0px;
  }

  .inner-team__text {
    font-size: 14px;
    padding: 1em 1.5em;
    line-height: 1.2;
    bottom: -35%;
  }

  .inner-team__title {
    font-size: 14px;
  }

  .tarif__content {
    padding: 0px 0px 120px 0px;
  }

  .tarif__title {
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
  }

  .tarif__bg {
    top: -360px;
  }

  .tarif__bg img {
    height: 3600px;
  }

  .wrap-tarif__left {
    text-align: center;
  }

  .wrap-tarif__title {
    margin: 0px auto 1.5em;
    text-align: left;
    width: 80%;
    font-size: 16px;
  }

  .wrap-tarif__date {
    font-size: 2.4rem;
  }

  .wrap-tarif__text {
    text-align: left;
    font-size: 16px;
    width: 90%;
    margin: 0px auto 2em;
  }

  .wrap-tarif__btn a {
    font-size: 12px;
  }

  .wrap-tarif__btn {
    text-align: center;
  }

  .wrap-tarif__img img {
    width: 70%;
  }

  .wrap-tarif__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: center;
    margin: 0px 0px 4rem 0px;
  }

  .wrap-tarif:nth-child(even) .wrap-tarif__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrap-tarif:nth-child(even) .wrap-tarif__img a {
    width: 80%;
  }

  .wrap-tarif {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}